@font-face {
  font-family: sf-pro;
  src: url("assets/fonts/SFPRODISPLAYREGULAR.OTF");
}
body {
  margin: 0;
  padding: 0;
}

.banner-wrapper {
  background-image: url("assets/file cover - 2.png");
  height: 100vh;
  padding: 0 10%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.banner-wrapper .banner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  padding-top: 5%;
}
.banner-wrapper .banner-text .upper-text h1 {
  font-family: "sf-pro";
  color: #ffffff;
  margin: 0;
  font-size: 108px;
  font-weight: bold;
  line-height: 0.8;
}
.banner-wrapper .banner-text .upper-text h1 span {
  opacity: 0.25;
}
.banner-wrapper .banner-text .upper-text h4 {
  font-family: "sf-pro";
  color: #ffffff;
  font-size: 32px;
  margin: 50px 0 50px 0;
  padding-left: 12px;
}
.banner-wrapper .banner-text .lower-text {
  display: flex;
  align-items: center;
  gap: 20px;
}
.banner-wrapper .banner-text .lower-text h3 {
  font-family: "sf-pro";
  color: #ffffff;
  font-size: 32px;
  padding-left: 12px;
}
.banner-wrapper .banner-widgets-wrapper {
  margin-top: 5%;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box {
  background-color: #ffffff;
  height: 233.3333333333px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  border-radius: 30px;
  padding: 45px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box:hover {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  transition: 300ms;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .timer-box {
  font-family: "sf-pro";
  line-height: 0.9;
  color: #ffffff;
  font-size: 94px;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .timer-box
  div {
  margin: 0;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .timer-box
  div
  span {
  opacity: 0.25;
  font-size: 46px;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .control-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .control-box
  .upper-control {
  background-color: rgba(62, 62, 62, 0.38);
  height: 101.3333333333px;
  width: 100%;
  border-radius: 20px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .control-box
  .upper-control:hover {
  background-color: rgba(62, 62, 62, 0.8);
  transition: 300ms;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .control-box
  .upper-control
  h5 {
  font-family: "sf-pro";
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .control-box
  .upper-control
  h5
  span
  span {
  opacity: 0.25;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .control-box
  .upper-control
  div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
  font-family: "sf-pro";
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  padding-left: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .control-box
  .upper-control
  div:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 300ms;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .control-box
  .upper-control
  div
  svg {
  padding-right: 10px;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .control-box
  .lower-control {
  background-color: rgba(0, 0, 0, 0.15);
  height: 64.6666666667px;
  width: 100%;
  border-radius: 20px;
  padding: 20px 16px;
  font-family: "sf-pro";
  color: #ffffff;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .control-box
  .lower-control:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 300ms;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .control-box
  .lower-control
  h5
  svg:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 300ms;
}
.banner-wrapper
  .banner-widgets-wrapper
  .single-widget-wrapper
  .single-widget-box
  .control-box
  .lower-control
  div:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 300ms;
}
.banner-wrapper .banner-widgets-wrapper .single-widget-wrapper .widget-foot {
  font-family: "sf-pro";
  color: #ffffff;
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
}
.banner-wrapper .banner-widgets-wrapper > :first-child {
  transform: rotate(10deg);
}
.banner-wrapper .banner-widgets-wrapper > :last-child {
  transform: translateX(50px) rotate(-10deg);
}

@media (max-width: 576px) {
  .banner-wrapper {
    padding: 0 5%;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: 100%;
  }
  .banner-wrapper .banner-text {
    justify-content: flex-start;
    height: auto;
  }
  .banner-wrapper .banner-text .upper-text h1 {
    font-size: 64px;
  }
  .banner-wrapper .banner-text .upper-text h4 {
    font-size: 24px;
  }
  .banner-wrapper .banner-text .lower-text h3 {
    font-size: 24px;
  }
  .banner-wrapper .banner-widgets-wrapper .single-widget-wrapper {
    margin: 20px 0;
  }
  .banner-wrapper
    .banner-widgets-wrapper
    .single-widget-wrapper
    .single-widget-box {
    height: 175px;
    width: 300px;
    padding: 30px;
  }
  .banner-wrapper
    .banner-widgets-wrapper
    .single-widget-wrapper
    .single-widget-box
    .timer-box {
    font-size: 64px;
  }
  .banner-wrapper
    .banner-widgets-wrapper
    .single-widget-wrapper
    .single-widget-box
    .timer-box
    div
    span {
    font-size: 30px;
  }
  .banner-wrapper
    .banner-widgets-wrapper
    .single-widget-wrapper
    .single-widget-box
    .control-box
    .upper-control {
    height: 76px;
    padding: 10px 8px;
  }
  .banner-wrapper
    .banner-widgets-wrapper
    .single-widget-wrapper
    .single-widget-box
    .control-box
    .upper-control
    h5 {
    font-size: 16px;
  }
  .banner-wrapper
    .banner-widgets-wrapper
    .single-widget-wrapper
    .single-widget-box
    .control-box
    .upper-control
    h5
    span
    span {
    font-size: 20px;
  }
  .banner-wrapper
    .banner-widgets-wrapper
    .single-widget-wrapper
    .single-widget-box
    .control-box
    .upper-control
    div {
    font-size: 16px;
    height: 30px;
    padding-left: 5px;
  }
  .banner-wrapper
    .banner-widgets-wrapper
    .single-widget-wrapper
    .single-widget-box
    .control-box
    .upper-control
    div
    svg {
    padding-right: 5px;
  }
  .banner-wrapper
    .banner-widgets-wrapper
    .single-widget-wrapper
    .single-widget-box
    .control-box
    .lower-control {
    height: 48.5px;
    padding: 10px 8px;
    font-size: 24px;
  }
  .banner-wrapper .banner-widgets-wrapper .single-widget-wrapper .widget-foot {
    font-size: 16px;
  }
  .banner-wrapper .banner-widgets-wrapper > :last-child {
    transform: translateX(0) rotate(-10deg);
  }
}
